/*------------------------------------*\
    #Home map
\*------------------------------------*/

.map-trigger {

	span {
		font-size: 0;
		@include transition(all .2s ease-out);
	}

	&:hover {

		a {
			text-decoration: none;
			display: inline-block;
		}

		.map__triger__icon {
			background-color: white;

			.icon {
				color: $base-title-color;
			}
		}

		span {
			margin-right: 12px;
			font-size: 15px;
		}
	}
}

	.map__triger__icon,
	.home-map__close,
	.contact__close {
		display: inline-block;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		text-align: center;
		line-height: 48px;
		@include transition(all .2s ease-out);
		border: 1px solid white;
	}

.home-map {
	background-color: $color-light-gray;
	z-index: 300;
	@include translateY(-1500px);
	@include transition(all .2s ease-out);

	.map-is-active & {
		@include translateY(0px);
	}

	img {
		max-width: none;
	}
}

.home-map,
.home-map__header {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

	.home-map__header {
		background-color: rgba(white, .95);
		z-index: 9999999;
		height: 158px;
		line-height: 158px;
		@include box-shadow(0 1px 2px rgba(0,0,0,.3));

		a {

			&:hover {
				text-decoration: none;
			}
		}
	}

		.home-map__close {
			border-color: $base-title-color;
		}













