/*------------------------------------*\
    #Lists
\*------------------------------------*/

.list {

	li {
		margin-right: 30px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			display: block;
		}
	}
}

.list--default,
.list--numbering {

	li {

		&:before {
			right: 0;
			border-radius: 50%;
			background-color: $color-orange;
		}
	}

	> li {
		margin-right: 13px;

		> ul,
		> ol {

			> li {
				margin-right: 13px;

				&:before {
					color: $color-orange;
					background-color: transparent;
					border: 2px solid $color-orange;
				}
			}
		}
	}
}


.list--default {

	li {
		line-height: 34px;
		padding-right: 17px;

		&:before {
			width: 7px;
			height: 7px;
			top: 14px;
		}
	}

	> li {

		> ul {

			> li {

				> ul {

					li {

						&:before {
							width: 10px;
							height: 3px;
							border-radius: 2px;
							top: 16px;
						}
					}
				}
			}
		}
	}
}

.list--numbering {

	li {
		padding-right: 36px;
		line-height: 42px;

		&:before {
			@include font-size(15px);
			content: counter(item) ".";
            counter-increment: item;
			height: 26px;
			line-height: 23px;
			text-align: center;
			top: 6px;
			width: 26px;
			border: 2px solid $color-orange;
		}
	}

	> li {

		&:before {
			color: white;
		}

		> ol {

			> li {
				margin-right: 0;

				> ol {

					li {
						margin-right: 13px;
						padding-right: 20px;

						&:before {
							top: 10px;
							width: auto;
							background-color: transparent;
							border: none;
							color: $color-orange;
						}
					}
				}
			}
		}
	}
}