/*------------------------------------*\
    #Slider screenshots
\*------------------------------------*/

.slider--screenshot {
	@include translateY(95px);
	direction: ltr;

	@include max-screen(#{$breakpoint-medium}) {

		@include translateY(0px);

	}
}


.owl-controls {

	.slider--screenshot & {
		position: absolute;
		top: -135px;
		left: 0;
		right: 0;

		@include max-screen(481px) {
			top: -65px;
		}

		.owl-prev,
		.owl-next {
			display: inline-block;
			position: absolute;
			left: 50%;
		}

		.owl-next {
			margin-left: 198px;

			@include max-screen(481px) {
				margin-left: 15px;
			}
		}

		.owl-prev {
			margin-left: -246px;

			@include max-screen(481px) {
				margin-left: -58px;
			}
		}

	}
}