/*------------------------------------*\
    #Backgrounds
\*------------------------------------*/

.cover {
	background-size: cover !important;
	background-position: center center !important;
}

.bgr-orange {
	background-color: $color-orange;
}

.bgr-dark-gray {
	background-color: $color-dark-gray;
}

.bgr-gray {
	background-color: $color-medium-light-gray;
}

.bgr-light-gray {
	background-color: $color-light-gray;
}

.bgr-white {
	background-color: white;
}

.bgr-tripoli {
	background: url(../images/tripoli.jpg) no-repeat center center;
}

.bgr-libya {
	background: url(../images/slide-libya.jpg) no-repeat center center;
}

.bgr-benghazi {
	background: url(../images/benghazi.jpg) no-repeat center center;
}