/*------------------------------------*\
    #Features
\*------------------------------------*/

.features {}

.features__item {
	height: 317px;
	background-color: $color-light-gray;
	border-radius: 3px;
	text-align: center;
	padding: 60px 20px 0 20px;
	position: relative;
	overflow: hidden;

	> p {
		height: 2*$base-line-height;
		overflow: hidden;
	}

	&:hover {

		.feature__content {
			@include translateY(0px);
		}
	}
}

	.feature__icon {
		display: inline-block;
		height: 120px;
		width: 120px;
		border: 2px solid transparent;
		border-radius: 50%;
		line-height: 118px;

		.features__item--orange & {
			border-color: $color-orange;
		}

		.features__item--green & {
			border-color: $color-green;
		}

		.features__item--red & {
			border-color: $color-red;
		}
	}

	.feature__content {
		position: absolute;
		right: 0;
		width: 100%;
		top: 0;
		height: 100%;
		@include translateY(400px);
		@include transition(all .24s ease-out);

		.features__item--orange & {
			background-color: $color-orange;
		}

		.features__item--red & {
			background-color: $color-red;
		}

		.features__item--green & {
			background-color: $color-green;
		}
	}