/*------------------------------------*\
    #Slider main
\*------------------------------------*/

.slider-small-wrap {
	position: absolute;
	top: 90px;
	left: 23px;

	@include max-screen(769px){
		top: 55px;
		left: 14px;
	}
}

.slider-small-wrap,
.slider__item {
	width: 313px;
	height: 555px;

	@include max-screen(769px){
		width: 193px;
		height: 343px;

	}
}


