/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn--primary {
	padding: 0 40px !important;
	@include font-size(21px);
}

.btn--secondary {
	padding: 0 24px !important;
	@include font-size(15px);
}

.btn--primary,
.btn--secondary {
	border-radius: 3px;
}

.btn--full {
	width: 100% !important;
}

/*
 * Helper classes for defining colors of buttons
 */

.btn--dark {
	background-color: $color-dark-gray;
	border: 2px solid white !important;
	color: white;

	&:hover {
		background-color: white !important;
		color:  $color-dark-gray;

		.icon {
			color: $color-dark-gray !important;
			@include transition(all .2s ease);
		}
	}
}

.btn--light {
	border: 2px solid $base-text-color !important;
	color: $base-text-color;

	&:hover {
		background-color: $base-text-color !important;
		color: white;

		.icon {
			color: white !important;
			@include transition(all .2s ease);
		}

	}
}

.btn--black {
	border: 2px solid $base-title-color !important;
	color: $base-title-color;

	&:hover {
		background-color: $base-title-color !important;
		color: white;

		.icon {
			color: white !important;
			@include transition(all .2s ease);
		}

	}
}

.btn--tag {
	background: white !important;
	border: 1px solid rgba($base-title-color, .15) !important;
	border-radius: 2px;
	padding: 0 10px !important;
	color: $base-text-color;
	line-height: 26px !important;
	height: 29px;
	@include font-size(13px);

	&:hover {
		border-color: $color-orange !important;
		color: $color-orange;
	}
}


.btn--fixed {
	width: 240px;
	padding: 0 !important;
}

.btn--152 {
	width: 152px;
}

.btn--orange {
	background-color: $color-orange !important;
	color: white;
	@include font-size(17px);
	letter-spacing: 2px;

	&:hover {
		background-color: $color-dark-orange !important;
	}
}

.btn--gray {
	background-color: #e0e0e0 !important;
	border: 2px solid #e0e0e0 !important;
	color: $color-light-black !important;
}

/*
 * Helper classes for defining heights of buttons
 */

.btn--normal {
	height: 55px;
	line-height: 54px !important;
}

.btn--large {
	height: 68px;
	line-height: 65px !important;

	@include max-screen(769px) {
		height: 45px;
		line-height: 43px !important;
	}
}

.btn {

	.flag {

		.flag__body {
			width: auto !important;
		}
	}
}




/*------------------------------------*\
    #Buttons in table
\*------------------------------------*/

.btn--table {
	height: 30px;
	width: 30px;
	line-height: 34px !important;
	background-color: $base-text-color !important;
	text-align: center;
	border-radius: 50%;

	&:hover {
		background-color: $color-orange !important;
	}
}
