/*------------------------------------*\
    #blog posts
\*------------------------------------*/

.blog {

	img {
		width: 100%;
	}
}

	.blog__post {
		padding-bottom: 60px;

		&:not(:last-child) {
			border-bottom: 1px solid rgba($base-title-color, .15);
		}
	}

	.blog__link {
		letter-spacing: 3px;
		@include font-size(15px);
	}

	.blog__header {

		h1 {
			@include font-size(56px);
			font-weight: 700;
		}
	}

	.blog__img {

		figcaption {
			padding: 15px 0;
			border-bottom: 1px solid rgba($base-title-color, .15);
			color: $base-title-color;
			@include font-size(15px);
		}

		&.blog__img--small {
			width: 40%;
			float: left;
			margin: 0 40px 30px -130px;

			@include max-screen(1050px) {
				float: none;
				margin: 0 auto 30px auto;
			}

			@include max-screen(#{$breakpoint-large}) {
				width: 100%;
			}
		}
	}

	.blog__tags {
		padding-top: 20px;
		position: relative;

		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 94px;
			background-color: rgba($base-title-color, .15);
			left: 	0;
			top: 	0;
			position: absolute;
		}
	}

		.blog__tag {
			@include font-size(15px);
			color: $base-title-color;

			&:hover {
				color: $color-orange;
				text-decoration: none;
			}
		}