/*------------------------------------*\
    #Tables
\*------------------------------------*/

.table-wrap {
	overflow-x: auto;
}

.table {
	min-width: 650px;

	th {
		text-transform: uppercase;
		color: $base-title-color;
		@include font-size(17px);
	}

	th,
	td {
		padding: 20px;

	}
}

.table--default {

	thead {
		border-top: 4px solid $color-orange;
		border-bottom: 1px solid $color-gray;
	}

	tbody {

		tr {
			border-bottom: 1px solid $color-gray;

			&:nth-child(odd) {
				background-color: $color-light-gray;
			}
		}

		td {

			&:first-child {
				text-align: center;
			}
		}
	}

	td,
	th {

		&:not(:last-child) {
			border-left: 1px solid $color-gray;
		}
	}
}