/*------------------------------------*\
    #FOOTER MAIN
\*------------------------------------*/

.footer-main {
	padding: 45px 0;

}

	.footer__copy {
		margin-bottom: 44px;
	}

		.footer__icon {
			border-radius: 50%;
			border: 2px solid $color-brown;
			display: inline-block;
			height: 44px;
			line-height: 41px;
			text-align: center;
			width: 44px;
		}