/*------------------------------------*\
    #Aside
\*------------------------------------*/

.aside,
.aside-pusher {
	// width: 530px !important;

	// @include max-screen(#{$breakpoint-extralarge}) {
	// 	width: 400px !important;
	// }

	// @include max-screen(#{$breakpoint-large}) {
	// 	display: none;
	// }
}

.aside {
	position: absolute;
	// padding: 50px;
	width: 700px;
	left: 0;
	top: 100px;
	padding-right: 135px;

	@include max-screen(#{$breakpoint-large}) {
		display: none;
	}


	@include max-screen(890px) {
		top: 54px;
	}

	@include max-screen(1024px) {
		width: 400px;
		padding-right: 50px;

	}

	&.fixed--top,
	&.fixed--bottom {
		position: fixed;
		left: 0;
	}

	&.fixed--top {
		bottom: auto;
		top: 0;
	}

	&.fixed--bottom {
		top: auto;
		bottom: 0;
	}

}

	.aside__content {
		padding: 50px;
		min-height: 100vh;
	}