/*------------------------------------*\
    #Phone
\*------------------------------------*/

.phone {
	height: 735px;
	width: 360px;
	background: url(../images/phone-frame.png) no-repeat center center;
	display: inline-block;
	position: relative;
	background-size: 360px 735px;

	@include max-screen(769px) {
		height: 453px;
		width: 222px;
		background-size: 222px 453px;
	}

	@media screen and (max-height:980px) and (orientation: landscape){
		@include scale(.7);
	}
}