/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {
	height: 158px;
	line-height: 158px;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	@include transition(background-color .02s ease-out .2s);

	.menu-is-active & {
		background-color: white;
		@include transition(background-color .02s ease-out);
	}

	@include max-screen(890px){
		height: 54px;
		line-height: 54px;
	}
}

.header-main--small {
	height: 100px;
	line-height: 100px;

	@include max-screen(890px){
		height: 54px;
		line-height: 54px;
	}
}

.site-nav--main {

	@include max-screen(890px){
		display: none;
		height: 54px;
		line-height: 54px;
	}
}

.site-nav--mobile {
	display: none;
	position: absolute;
	left: 0;
	top: 54px;
	right: 0;
	z-index: 100;
	text-align: center;
	@include translateY(-800px);
	@include transition(transform .2s ease-out .2s);
	padding-bottom: 15px;

	ul {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	a {
		display: block;
		color: $base-title-color;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
	}

	.menu-is-active & {
		@include transition(transform .2s ease-out);
		@include translateY(0px);
	}

	@include max-screen(890px){
		display: block;
	}
}

.btn-menu {
	display: none;

	@include max-screen(890px){
		display: block;

		.menu-is-active & {
			display: none;
		}
	}
}

.btn-menu-close {
	display: none;

	.menu-is-active & {
			display: inline-block;
		}
}

.lang {
	border-top: 1px solid #e5e0db;
}

	.lang__link {
		padding-right: 20px;
		position: relative;
		display: inline-block !important;

		&:after {
			position: absolute;
			content: '';
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: #e1e1e1;
			right: 0;
			top: 50%;
			@include translateY(-50%);

		}

		&.is-active {

			&:after {
				background-color: $base-title-color;
			}
		}
	}