/*------------------------------------*\
    #Slider main
\*------------------------------------*/

.full-screen {
	position: relative;
	// position: absolute;
	// left: 	0;
	// right: 	0;
	// top: 	0;
	// bottom: 0;
	// z-index: 60;
	overflow: hidden;

	.bx-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.full__content {
	position: relative;
	z-index: 60;

	.container--huge {
		margin-top: 95px;

		@include max-screen(890px) {
			margin-top: 0px;
		}

		@media screen and (max-height: 880px) {
			margin-top: 0px;
		}
	}
}

