/*------------------------------------*\
    #Apps
\*------------------------------------*/

.apps {
	@include max-screen(#{$breakpoint-large}) {
		display: none;
	}
}

.apps__item {
	height: 702px;
	width: 391px;
	background: url(../images/phone-frame-gold.png) no-repeat center center;
	background-size: 391px 702px;
	display: inline-block;
	position: relative;
	overflow: hidden;

	&:hover {

		.apps__img {

			&:after {
				opacity: 1;
			}
		}

		.apps__content,
		.apps__qr {
			@include translateY(0px);
			opacity: 1;
		}

		.apps__content {
			@include transition(transform .24s ease-out, opacity .3s ease-out .16s);
		}

		.apps__qr {
			@include transition(transform .24s ease-in .06s, opacity .2s ease-in .24s);
		}
	}
}

	.apps__img, .apps__img:after,
	.apps__content,
	.apps__qr {
		position: absolute;
	}

	.apps__img {

		&,
		&:after {
			width: 270px;
			height: 483px;
		}

		&:after {
			content: '';
			display: block;
			left: 0;
			width: 100%;
			top: 0;
			height: 100%;
			background-color: rgba(black, .6);
			z-index: 2;
			opacity: 0;
			@include transition(opacity .2s ease);
		}
	}

	.apps__content,
	.apps__qr {
		@include translateY(600px);
		opacity: 0;
	}

	.apps__content {
		bottom: 141px;
		left: 59px;
		right: 63px;
		z-index: 50;
		@include transition(transform .24s ease-out .2s, opacity .2s ease-in);
	}

	.apps__qr {
		z-index: 2;
		top: 130px;
		display: inline-block;
		height: 116px;
		width: 116px;
		left: 50%;
		margin-left: -58px;
		@include transition(transform .24s ease-out .2s, opacity .2s ease-in);
	}

.apps__img--tripoli {
	background: url(../images/tripoli-guide.jpg) no-repeat center center;
}

.apps__img--bengazhi {
	background: url(../images/benghazi-guide.jpg) no-repeat center center;
}

.apps__img--libya {
	background: url(../images/libya-guide.jpg) no-repeat center center;
}

.apps__img--tripoli,
.apps__img--bengazhi,
.apps__img--libya {
	background-size: 271px 483px;
	top: 78px;
	left: 59px;
}

.apps-mobile {
	display: none;

	@include max-screen(#{$breakpoint-large}) {
		display: block;
	}
}