/*------------------------------------*\
    #Main navigation
\*------------------------------------*/

.site-nav {}

    .site-nav__item {

        .site-nav--main & {
            margin-left: 30px;

            a {
                color: white;
                text-transform: uppercase;
                position: relative;
                @include font-size(15px);
                padding: 6px 0;
                letter-spacing: 2px;

                &.kufi {
                    letter-spacing: normal;
                }

                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    background-color: white;
                    @include translateY(-20px);
                    opacity: 0;
                    @include transition(transform .20s ease-out, opacity .3s ease);
                }

                &:hover {
                    text-decoration: none;

                    &:after {
                        opacity: 1;
                        @include translateY(0px);
                    }
                }
            }

            &.is-active {

                a {

                    &:after {
                        opacity: 1;
                        @include translateY(0px);
                    }
                }
            }
        }
    }