/*------------------------------------*\
    #Checkbox
\*------------------------------------*/

.checkbox_wrap {
	@include unselectable;
}

.styled-checkbox {
    @include opacity(0);
    position: absolute;
}
.styled-checkbox + label {
    position: relative;
    padding-left: 29px;
}
.styled-checkbox + label span {
    display: inline-block;
    visibility: visible;
    width: 16px;
    height: 16px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e5e0db;
    @include transition(all .24s ease);
    border-radius: 3px;

    b {
    	position: absolute;
    	height: 7px;
    	width: 11px;
    	display: block;
    	left: 3px;
    	top: 3px;
    	@include rotate(-45deg);

	    &:before,
	    &:after {
	    	content: '';
	    	display: block;
	    	width: 2px;
	    	height: 0;
	    	background-color: white;
	    	position: absolute;
	    	left: 0;
	    	bottom: 0;
	    	@include transition(none);
	    	border-radius: 2px;
	    }

	    &:before {
	    	bottom: auto;
	    	top: 0;
	    }

	    &:after {
	    	width: 0;
	    	height: 2px;
	    }
    }
}

.checkbox_wrap label:hover span {
    // border: 1px solid rgba(39,167,227,.6);
    cursor: pointer;
}

.styled-checkbox:checked + label span {
    // border: 1px solid #27a7e3;
    background-color: $color-orange;
    b {
	    &:before {
	    	height: 7px;
	    	@include transition(all .23s ease-in);
	    }
	    &:after {
	    	width: 11px;
	    	@include transition(all .18s ease .23s);
	    }
    }
}

.styled-checkbox[disabled] + label {
	color: #a1a9b3 !important;
	@include unselectable;
	cursor: default;
}

.styled-checkbox[disabled] + label span {
	background-color: #d0d4d9 !important;
	border-color: #d0d4d9 !important;
}






/*------------------------------------*\
    #Radio buttons
\*------------------------------------*/

input[type="radio"] {
    display:none;
}

.radio_wrap {
	@include unselectable;
}

.styled-radiobutton {
	@include opacity(0);
    position: absolute;
}

.styled-radiobutton + label {
    position: relative;
    padding-left: 29px;
}

.styled-radiobutton + label span {
    display: inline-block;
    visibility: visible;
    width: 16px;
    height: 16px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e5e0db;
    @include transition(all .1s ease);
    border-radius: 50%;
}

.radio_wrap label:hover span {
    // border: 1px solid #27a7e3;
    cursor: pointer;
}

.styled-radiobutton:checked + label span {
    border: 5px solid $color-orange;
    background: white;
}

.styled-radiobutton[disabled] + label {
	color: white !important;
	@include unselectable;
	cursor: default;
}

.styled-radiobutton[disabled] + label span {
	background-color: #d0d4d9 !important;
	border-color: #d0d4d9 !important;
}