/*------------------------------------*\
    #SITE LOGO
\*------------------------------------*/

.site-logo {
    display: inline-block;
    vertical-align: middle;

    > img {
        height: auto;
        vertical-align: middle;
        width: 181px;
    }

    &:hover {
        text-decoration: none;
    }

    .menu-is-active & {

        .icon {
            color: $base-title-color;
        }
    }

    .icon {
        @include transition(all .02s ease-out .2s);
    }
}
