/*------------------------------------*\
    #Slider main
\*------------------------------------*/

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff;
}

.bx-wrapper {
  margin: 0;
  padding: 0;
}

