/*------------------------------------*\
    #Contact
\*------------------------------------*/

.contact {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	@include translateY(-900px);
	@include transition(all .2s ease-out);

	.container {
		position: relative;
	}

	.contact-is-active & {
		@include translateY(0px);
	}
}

	.contact__close {
		position: absolute;
		right: 20px;
		top: 0;
	}

.contact__close--bordered {
	border-color: $base-text-color;
}


