/*------------------------------------*\
    #Slider main
\*------------------------------------*/

.item {

	.slider--base & {
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 	0;
			bottom: 0;
			left: 	0;
			right: 	0;
			display: block;
			background: rgba(black, .5);
			z-index: 2;
		}

		@include max-screen(#{$breakpoint-large}) {
			height: 1000px !important;
		}
	}
}

	.slider__controls {
		position: absolute;
		bottom: 70px;
		left: 50%;
		font-size: 31px;
		color: white;
		z-index: 100;
		@include translateX(-50%);

		a {

			&:hover {
				text-decoration: none;
			}
		}

		@include max-screen(890px) {
			bottom: 10px;
		}

		@include max-screen(#{$breakpoint-large}) {
			display: none;
		}

	}



