/*------------------------------------*\
    #Colors
\*------------------------------------*/

.color-white {
	color: white;
}

// .color-blue {
// 	color: $color-blue;
// }

.color-red {
	color: $color-red;
}

.color-green {
	color: $color-green;
}

.color-orange {
	color: $color-orange;
}

.color-brown {
	color: $color-brown;
}

.color-title {
	color: $base-title-color;
}

.color-text {
	color: $base-text-color;
}

.color-light-black {
	color: $color-light-black;
}