/*------------------------------------*\
    #Slider info
\*------------------------------------*/

.info__trigger {
	bottom: 20px;
	left: 50%;
	margin-left: -16px;
}

.slider__info,
.info__trigger {
	position: absolute;

	@include max-screen(769px) {
		display: none;
	}
}

.slider__info {
	bottom: 75px;
	left: 	8px;
	right: 	8px;
	border-radius: 3px;
	@include translateY(650px);
	@include transition(opacity .2s linear .1s, transform .24s ease-out);
	opacity: 0;

	&.is-active {
		@include translateY(0px);
		@include transition(transform .24s ease-out, opacity .2s linear .1s);
		opacity: 1;
	}
}