/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    @include box-sizing(border-box);
    @include transition(all .2s ease);
    background: none;
    border: none;
    color: $base-text-color;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;

    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }
}

/**
 * Primary input.
 */
.input--primary,
%input--primary {
    border: 2px solid $base-text-color;
    border-radius: 3px;
    height: 58px;
    line-height: 53px;
    padding: 0 20px;
    color: $base-title-color;
    @include font-size(17px);

    /**
     * @hover & @focus
     */
    &:hover,
    &:focus {
        border-color: $color-orange;
    }


    /**
     * Error state.
     */
    .is-error &,
    &.is-error {
        border-color: red;
    }

    @include max-screen(#{$breakpoint-medium}) {
        line-height: 40px !important;
        height: 44px;
    }
}

/**
 * Textarea input.
 */
.input--textarea {
    padding-top: 15px;
    resize: none;
    min-height: 170px !important;
    line-height: 1.2 !important;

    @include max-screen(#{$breakpoint-medium}) {
        min-height: 100px !important;
        padding-top: 10px;
    }
}
