/*------------------------------------*\
    #Pillar
\*------------------------------------*/

.pillar {
	margin-left: 700px;
	width: auto;

	@include max-screen(1024px) {
		margin-left: 400px;

	}

	@include max-screen(#{$breakpoint-large}) {
		margin-left: 0;
	}

}