/*------------------------------------*\
    #Slider main
\*------------------------------------*/

.heading--underlined {
	position: relative;
	padding-bottom: 45px;

	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 125px;
		height: 2px;
		background-color: #bcb4ad;
		bottom: 0;
		left: 50%;
		@include translateX(-50%);
	}

	@include max-screen(769px) {
		padding-bottom: 35px;
	}
}