/*------------------------------------*\
    #Dropdown
\*------------------------------------*/

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        width: 100%;
        padding: 17px 20px;
        border: 2px solid #a59b95;
        color: #958880;
        font-size: 17px;
        font-weight: 400;
        text-transform: none;
        cursor: pointer;
        border-radius: 3px;
        @include transition(border-color .24s ease);
        text-align: right;
    }

    /* Up/Down arrows */
    .sod_select:before
        {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 5.5px 0 5.5px;
            border-color: #a59b95 transparent transparent transparent;
            top: 23px;
            left: 20px !important;
            right: auto;
        }

        /* Down arrow */
        .sod_select:after
            {
                display: none;
            }

    /* Change the border color on hover, focus and when open */
    .sod_select:hover,
    .sod_select.open,
    .sod_select.focus { border-color: #fcb34c; }

        .sod_select.open {
        	color: #fcb34c !important;
        	border-bottom-left-radius: 0px;
        	border-bottom-right-radius: 0px;

        	&.above {
	        	border-bottom-left-radius: 3px;
	        	border-bottom-right-radius: 3px;
	        	border-top-right-radius: 0px;
	        	border-top-left-radius: 0px;
        	}
        }

        .sod_select {

        	&.open {

	        	.sod_label {
	            	color: $base-title-color !important;
	        	}
        	}
        }

        .sod_select.focus { box-shadow:none; }


    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            padding-left: 24px;
            color: #958880;
        }

    /* Options list wrapper */
    .sod_select .sod_list_wrapper
        {
            right: -2px;
            width: calc(100% + 4px);
            margin: 0 0 0 0;
            border: 2px solid #fcb34c;
            border-top: none;
            color: $base-title-color;
            font-weight: 400;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 10px 0;

            &:before {
            	content: '';
            	position: absolute;
            	left: 20px;
            	right: 20px;
            	top: 0;
            	display: block;
            	height: 1px;
            	background-color: #e5e0db;
            	z-index: 2;
            }
        }


        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list_wrapper
            {
                border-top: 2px solid  #fcb34c;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom: none;

                &:before {
                	top: auto;
                	bottom: 0;
                }
            }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_option
            {
                padding: 14px 20px;
            }


            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_option.active
                {
                    background: #fcb34c;
                    color: white;
                    @include transition(all .23s ease);
                }

            /*Make room for the check mark */
            .sod_select .sod_option.selected
                {
                    font-weight: 400;
                    padding-left: 20px;
                }



