{% macro ul(mod) %}
   <ul class="list-bare [ list list--default ] {{mod}}">

		   <li>
		   	أبجد هوز
		   </li>

		   <li>
		   		Persion  proin gravida
		   		<ul class="list-bare">

		   		 	<li>
						Aenean sollicitudin
		   		 	</li>

		   		 	<li>
		   		 		Lorem quis bibendum auctor
		   		 		<ul class="list-bare">

		   		 			<li>
		   		 				Nisi elit consequat ipsum
		   		 			</li>

		   		 		</ul>

		   		 	</li>
		   		 </ul>

		   </li>

       <li>
        Nibh vel velit auctor aliquet
       </li>
   </ul>
{% endmacro %}
