{% macro ol(mod) %}
  <ol class="list-bare [ list list--numbering ] {{mod}}">
     <li>
      Nibh vel velit auctor aliquet
     </li>

     <li>
        أبجد هوز

        <ol class="list-bare">

          <li>
            Aenean sollicitudin
          </li>

          <li>
            Lorem quis bibendum auctor

            <ol class="list-bare">

              <li>
                Nisi elit consequat ipsumh
              </li>

            </ol>

          </li>

        </ol>

     </li>

     <li>
      Nibh vel velit auctor aliquet
     </li>
   </ol>
{% endmacro %}
