{% macro table(mod) %}
	<div class="table-wrap {{mod}}">
		<table class="table table--default">
			<thead>
				<tr>
					<th>no</th>
					<th class="text-left">name of document</th>
					<th class="text-left">date</th>
					<th>download</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1.</td>
					<td>Proin gravida nibh vel velit auctor aliquet.</td>
					<td>11/05/2014</td>
					<td class='text-center'><a class="btn btn--table" href="javascript:;">
						{{icon('icon-download', 'icon--13-16 color-white')}}
					</a></td>
				</tr>
				<tr>
					<td>2.</td>
					<td>Proin gravida nibh vel velit auctor aliquet.</td>
					<td>11/05/2014</td>
					<td class='text-center'><a class="btn btn--table" href="javascript:;">
						{{icon('icon-download', 'icon--13-16 color-white')}}
					</a></td>
				</tr>
				<tr>
					<td>3.</td>
					<td>Proin gravida nibh vel velit auctor aliquet.</td>
					<td>11/05/2014</td>
					<td class='text-center'><a class="btn btn--table" href="javascript:;">
						{{icon('icon-download', 'icon--13-16 color-white')}}
					</a></td>
				</tr>
				<tr>
					<td>4.</td>
					<td>Proin gravida nibh vel velit auctor aliquet.</td>
					<td>11/05/2014</td>
					<td class='text-center'><a class="btn btn--table" href="javascript:;">
						{{icon('icon-download', 'icon--13-16 color-white')}}
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endmacro %}
