{% extends "./_templates/template.default.html" %}

{% set bgr = 'orange' %}
{% set noslider = true %}
{% set headerSmall = true %}

{% block content %}

	{% include "_partials/partial.contact.html" %}
	{% include "_partials/partial.header.html" %}

	<main class='no-slider'>
		<aside class='aside bgr-white'>
			<div class="aside__content bgr-light-gray">
				<h4 class="heading--aside type-uppercase mb">
					Featured Tags
				</h4>
				<div class="tags mb+">
					<a href="javascrpt:;" class="btn btn--tag">Libyan </a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan Spider</a>
					<a href="javascrpt:;" class="btn btn--tag">Guide</a>
					<a href="javascrpt:;" class="btn btn--tag">Google Maps</a>
					<a href="javascrpt:;" class="btn btn--tag">Android</a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan </a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan Spider</a>
					<a href="javascrpt:;" class="btn btn--tag">Guide</a>
					<a href="javascrpt:;" class="btn btn--tag">Google Maps</a>
					<a href="javascrpt:;" class="btn btn--tag">Android</a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan </a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan Spider</a>
					<a href="javascrpt:;" class="btn btn--tag">Guide</a>
					<a href="javascrpt:;" class="btn btn--tag">Google Maps</a>
					<a href="javascrpt:;" class="btn btn--tag">Android</a>
					<a href="javascrpt:;" class="btn btn--tag">Google Maps</a>
					<a href="javascrpt:;" class="btn btn--tag">Android</a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan </a>
					<a href="javascrpt:;" class="btn btn--tag">Libyan Spider</a>
					<a href="javascrpt:;" class="btn btn--tag">Guide</a>
					<a href="javascrpt:;" class="btn btn--tag">Google Maps</a>
					<a href="javascrpt:;" class="btn btn--tag">Android</a>
				</div>
				<h4 class="heading--aside type-uppercase mb"> 	Categories
				</h4>
				<div class="aside__category mb+">
					<div class="layout">
						<div class="layout__item 1/2">
							<ul class="list list-bare list--default">
								<li>
									<a href="javscript:;" class="color-text type-small">
										Persion proin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Aenean sollicitudin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Aenean sollicitudin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Persion proin
									</a>
								</li>
							</ul>
						</div>
						<div class="layout__item 1/2">
							<ul class="list list-bare list--default">
								<li>
									<a href="javscript:;" class="color-text type-small">
										Persion proin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Aenean sollicitudin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Aenean sollicitudin
									</a>
								</li>
								<li>
									<a href="javscript:;" class="color-text type-small">
										Persion proin
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<h4 class="heading--aside type-uppercase mb"> 	ARCHIVE
				</h4>
				<form action="javascript:;">
					<select class="select" name="" id=""  data-placeholder="Choose option">
					  <option value=""> option1</option>
					  <option value=""> option2</option>
					  <option value=""> option3</option>
					  <option value=""> option4</option>
					  <option value=""> option5</option>
					</select>
				</form>
			</div>
		</aside>

		<div class="pillar">
			<div class="container container--medium u-large-and-up-pv++ u-large-and-up-pv+ pv">
				<form action="javascript:;">
					<div class="blog">
						<article class='blog__post mb+'>
							<header class='mb'>
								<h1>
									Libya Guide is lunching today!
								</h1>
								<time>
									25. May 2014
								</time>
							</header>
							<figure class='mb'>
								<img src="images/blog1.jpg" alt="">
							</figure>
							<p class="mb">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore....
							</p>
							<footer>
								<a href="javascript:;" class="color-orange type-uppercase blog__link">
									Continue reading
								</a>
								<span class='float-right'>
									{{icon('icon-comment','icon--20-18 color-text mr--')}}
									20
								</span>
							</footer>
						</article>
						<article class='blog__post mb+'>
							<header class='mb'>
								<h1>
									Libya Guide is lunching today!
								</h1>
								<time>
									25. May 2014
								</time>
							</header>
							<figure class='mb'>
								<img src="images/blog1.jpg" alt="">
							</figure>
							<p class="mb">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore....
							</p>
							<footer>
								<a href="javascript:;" class="color-orange type-uppercase blog__link">
									Continue reading
								</a>
								<span class='float-right'>
									{{icon('icon-comment','icon--20-18 color-text mr--')}}
									20
								</span>
							</footer>
						</article>
						<article class='blog__post mb+'>
							<header class='mb'>
								<h1>
									Libya Guide is lunching today!
								</h1>
								<time>
									25. May 2014
								</time>
							</header>
							<figure class='mb'>
								<img src="images/blog1.jpg" alt="">
							</figure>
							<p class="mb">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore....
							</p>
							<footer>
								<a href="javascript:;" class="color-orange type-uppercase blog__link">
									Continue reading
								</a>
								<span class='float-right'>
									{{icon('icon-comment','icon--20-18 color-text mr--')}}
									20
								</span>
							</footer>
						</article>
						<article class='blog__post mb+'>
							<header class='mb'>
								<h1>
									Libya Guide is lunching today!
								</h1>
								<time>
									25. May 2014
								</time>
							</header>
							<figure class='mb'>
								<img src="images/blog1.jpg" alt="">
							</figure>
							<p class="mb">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore....
							</p>
							<footer>
								<a href="javascript:;" class="color-orange type-uppercase blog__link">
									Continue reading
								</a>
								<span class='float-right'>
									{{icon('icon-comment','icon--20-18 color-text mr--')}}
									20
								</span>
							</footer>
						</article>
					</div>
					<div class="text-center">
						<button type="submit" class=" [ btn btn--primary btn--normal btn--orange ] type-uppercase">
							laod more articles
						</button>
					</div>
				</form>
			</div>
			{% include "_partials/partial.footer.html" %}
		</div>


	</main>


{% endblock %}
