{% extends "./_templates/template.default.html" %}

{% set bgr = 'orange' %}
{% set noslider = true %}
{% set headerSmall = true %}

{% block content %}
{% include "_partials/partial.contact.html" %}
{% include "_partials/partial.header.html" %}

  <main class='no-slider'>
  	<section class='u-large-and-up-pt++ pt blog'>
	  	<div class="container">
			<header class='blog__header'>
				<span class='type-uppercase'>
					category
				</span>
				<time class='mh'>
					25. May 2014
				</time>
				<span>
					{{icon('icon-comment','icon--20-18 color-text mr--')}}
					20
				</span>
				<h1 class="mb">
					Libya Guide is lunching today!
				</h1>
			</header>
			<figure class='blog__img mb'>
				<img src="images/blog1.jpg" alt="">
				<figcaption>
					Picture info
				</figcaption>
			</figure>
			<div class="container container--normal mb">
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
				<p class="mb">
					xcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
				</p>
				<figure class='blog__img blog__img--small'>
					<img src="images/blog-small.jpg" alt="">
					<figcaption>
						Pic info
					</figcaption>
				</figure>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora at eum dolores numquam, officia perspiciatis deserunt facilis velit commodi amet itaque quas magnam deleniti laboriosam porro placeat nam eius. Officia.
				</p>
				<h2 class="mb">
					Why is this important?
				</h2>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus velit fugiat autem sed laboriosam qui delectus iusto dolore. Placeat magni, id laboriosam sint esse ad natus nisi at velit!
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu  s modi
				</p>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis nesciunt deserunt. Dignissimos quasi sequi reprehenderit, modi obcaecati quos fuga, eaque ab quae quia odio alias impedit laborum pariatur, illo!
				</p>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus velit fugiat autem sed laboriosam qui delectus iusto dolore. Placeat magni, id laboriosam sint esse ad natus nisi at velit!
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu  s modi
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis iure, a sequi dignissimos vitae suscipit mollitia, ex natus expedita temporibus et quasi odit sint delectus, vero iste cumque eum saepe.
				</p>
			</div>
			<blockquote class="mb">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.consectetur, adipisci velit, sed quia non numquam eiu  s modi tempora incidunt ut labore et dolore.
			</blockquote>
			<div class="container container--normal mb">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis, facilis, quam eveniet, eum sapiente voluptas deserunt suscipit eos laudantium veritatis! Molestias quasi ipsa dolores, repellat consectetur rerum corporis quae.
				</p>
			</div>
			<figure class='blog__img mb'>
				<img src="images/blog2.jpg" alt="">
				<figcaption>
					caption 2
				</figcaption>
			</figure>
			<div class="container container--normal mb">
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique repellat, eos velit. Itaque ipsam laborum eligendi dignissimos, ratione iste in repellendus quis tempore illum soluta, impedit molestiae debitis voluptate ducimus.
				</p>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
				</p>
				<p class="mb">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, aliquam aliquid omnis labore totam eius autem. Autem, quibusdam ad recusandae labore magnam natus omnis expedita, quam explicabo, cupiditate, at ullam.
				</p>
				<div class="blog__tags">
					<a href="javascript:;" class="blog__tag">#proin</a>, <a href="javascript:;" class="blog__tag">#gravida</a>, <a class="blog__tag" href="javascript:;">#auctor aliquet</a>
				</div>
			</div>
			<div class="text-center">
				<a href="" class="[ btn btn--primary btn--normal btn--orange ] type-uppercase">back to main Blog page</a>
			</div>
			<div class="container container--normal pt+">
				<h1 class="text-center">
					DISQUS GOES HERE
				</h1>
			</div>
	  	</div>
  	</section>
  </main>
{% include "_partials/partial.footer.html" %}

{% endblock %}
