{% extends "./_templates/template.default.html" %}

{% block content %}
{% set footerGray = true %}
{% set map = true %}
{% set home = true %}

	{% include "_partials/partial.contact.html" %}
	{% include "_partials/partial.header.html" %}

	<main>
		<section class='home-map'>
			<header class="home-map__header">
				<div class="container container--xhuge">
					<a href="javascript:;" class="site-logo">
						{{icon('icon-logo', 'color-title icon--120-18')}}
					</a>
					<a href="javascript:;" class="float-right js-close-map type-uppercase color-title">
						close map
						<span class='home-map__close ml-'>{{icon('icon-close','icon--16-16 color-title')}}</span>
					</a>
				</div>
			</header>
			<div id="map" class="map"></div>
		</section>
		<section class='full-screen'>
			<ul class="slider slider--base">
				<li class="item bgr-wrap cover">
					<img src="images/slide1.jpg" alt="" class="bgr-img">
				</li>
				<li class="item bgr-wrap cover">
					<img src="images/slide2.jpg" alt="" class="bgr-img">
				</li>
				<li class="item bgr-wrap cover">
					<img src="images/slide3.jpg" alt="" class="bgr-img">
				</li>
				<li class="item bgr-wrap cover">
					<img src="images/slide4.jpg" alt="" class="bgr-img">
				</li>
			</ul>
			<div class="slider__controls">
				<a href="javascript:;" class="slider__contrlos-prev js-prev">
					{{icon('icon-arrow-left','color-white icon--30-10')}}
				</a>
				<span class="slider__index-current ml-">1</span>/<span class="slider__index-total mr-"></span>
				<a href="javascript:;" class="slider__contrlos-next js-next">
					{{icon('icon-arrow-right','color-white icon--30-10')}}
				</a>
			</div>
			<div class="full__content u-large-and-up-pv0 pt++">
				<div class="tableize tableize--middle tableize--full">
				  <div class="tableize__cell">
				    <div class="">
						<div class="container container--huge">

							<div class="flag flag--responsive flag--large text-center text-left-large-and-up">
								<div class="flag__body">
									<h1 class="color-white type-super-huge type-bold lh-1 u-mb+-large-and-up mb">
										كل الجمال الليبية في ثلاثة تطبيقات
									</h1>
									<p class="color-white type-huge u-mb++-large-and-up mb">
										Three new aplication for iPhone and Android which will guide you through <br>cities and countryside of Libya.
									</p>
									<a href="#ancor" class="btn btn--primary btn--dark btn--large js-scroll mb u-large-and-up-mb0">Findout more</a>
								</div>
								<div class="flag__img u-large-and-up-pr0 u-large-and-up-pl++">
									<div class="phone">
										<div class="slider-small-wrap">
											<ul class="slider slider--small">
												<li class="slider__item bgr-wrap cover">
													<img src="images/slide1-small.jpg" alt="" class="bgr-img">

													<div class="slider__info bgr-white p">
														<header class='info__header mb'>
															<figure class='mb'>
																{{icon('icon-w','color-text icon--41-28')}}
															</figure>
															<h2 class="type-large type-bold heading--underlined pb">
																Leptis Magna <br>
																<span class='type-default type-normal color-text'>
																	Khoms, Libya
																</span>
															</h2>
														</header>
														<p class="mb type-default color-title">
															Leptis Magna also known as Lectis Magna (or Lepcis Magna as it is sometimes spelled), also called Lpqy, Neapolis, Lebida or Lebda to modern-day residents of Libya, was a prominent city of the Roman Empire. Its ruins are located in Khoms, Libya, 130 ...
														</p>
														<a href="javascript:;">
															Read More
														</a>
													</div>

													<a href="javascript:;" class="info__trigger js-info-trigger">
														{{icon('icon-info','color-white icon--32-32')}}
													</a>

												</li>
												<li class="slider__item bgr-wrap cover">
													<img src="images/slide2-small.jpg" alt="" class="bgr-img">
													<div class="slider__info bgr-white p">
														<header class='info__header mb'>
															<figure class='mb'>
																{{icon('icon-w','color-text icon--41-28')}}
															</figure>
															<h2 class="type-large type-bold heading--underlined pb">
																Leptis Magna <br>
																<span class='type-default type-normal color-text'>
																	Khoms, Libya
																</span>
															</h2>
														</header>
														<p class="mb type-default color-title">
															Leptis Magna also known as Lectis Magna (or Lepcis Magna as it is sometimes spelled), also called Lpqy, Neapolis, Lebida or Lebda to modern-day residents of Libya, was a prominent city of the Roman Empire. Its ruins are located in Khoms, Libya, 130 ...
														</p>
														<a href="javascript:;">
															Read More
														</a>
													</div>

													<a href="javascript:;" class="info__trigger js-info-trigger">
														{{icon('icon-info','color-white icon--32-32')}}
													</a>
												</li>
												<li class="slider__item bgr-wrap cover">
													<img src="images/slide3-small.jpg" alt="" class="bgr-img">

													<div class="slider__info bgr-white p">
														<header class='info__header mb'>
															<figure class='mb'>
																{{icon('icon-w','color-text icon--41-28')}}
															</figure>
															<h2 class="type-large type-bold heading--underlined pb">
																Leptis Magna <br>
																<span class='type-default type-normal color-text'>
																	Khoms, Libya
																</span>
															</h2>
														</header>
														<p class="mb type-default color-title">
															Leptis Magna also known as Lectis Magna (or Lepcis Magna as it is sometimes spelled), also called Lpqy, Neapolis, Lebida or Lebda to modern-day residents of Libya, was a prominent city of the Roman Empire. Its ruins are located in Khoms, Libya, 130 ...
														</p>
														<a href="javascript:;">
															Read More
														</a>
													</div>

													<a href="javascript:;" class="info__trigger js-info-trigger">
														{{icon('icon-info','color-white icon--32-32')}}
													</a>
												</li>
												<li class="slider__item bgr-wrap cover">
													<img src="images/slide44-small.jpg" alt="" class="bgr-img">

													<div class="slider__info bgr-white p">
														<header class='info__header mb'>
															<figure class='mb'>
																{{icon('icon-w','color-text icon--41-28')}}
															</figure>
															<h2 class="type-large type-bold heading--underlined pb">
																Leptis Magna <br>
																<span class='type-default type-normal color-text'>
																	Khoms, Libya
																</span>
															</h2>
														</header>
														<p class="mb type-default color-title">
															Leptis Magna also known as Lectis Magna (or Lepcis Magna as it is sometimes spelled), also called Lpqy, Neapolis, Lebida or Lebda to modern-day residents of Libya, was a prominent city of the Roman Empire. Its ruins are located in Khoms, Libya, 130 ...
														</p>
														<a href="javascript:;">
															Read More
														</a>
													</div>

													<a href="javascript:;" class="info__trigger js-info-trigger">
														{{icon('icon-info','color-white icon--32-32')}}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div><!--huge container ends-->

				    </div>
				  </div>
				</div>
			</div>
		</section>
		<section class='bgr-gray pt u-large-and-up-pv+' id='ancor'>
			<div class="container container--huge">
				<h1 class="text-center heading--underlined mb+ u-mb++-large-and-up">
					Get your apps now or view <br> more about them
				</h1>
				<div class="apps text-center">
					<div class="apps__item">
						<figure class='apps__img apps__img--tripoli'>
						</figure>
						<div class="apps__content bgr-white p">
							<a href="javascript:;" class="[ btn btn--secondary btn--black btn--normal btn--full ] type-uppercase mb-">
								Findout more
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left mb-">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-apple','color-light-black icon--21-26')}}
									</div>
									<div class="flag__body">
										<p>Get iOS app</p>
									</div>
								</div>
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-android','color-light-black icon--24-28')}}
									</div>
									<div class="flag__body">
										<p>Get Android app</p>
									</div>
								</div>
							</a>
						</div>
						<figure class="apps__qr">
							<img src="images/qr-tripoli.png" alt="">
						</figure>
					</div>
					<div class="apps__item">
						<figure class='apps__img apps__img--bengazhi'>
						</figure>
						<div class="apps__content bgr-white p">
							<a href="javascript:;" class="[ btn btn--secondary btn--black btn--normal btn--full ] type-uppercase mb-">
								Findout more
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left mb-">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-apple','color-light-black icon--21-26')}}
									</div>
									<div class="flag__body">
										<p>Get iOS app</p>
									</div>
								</div>
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-android','color-light-black icon--24-28')}}
									</div>
									<div class="flag__body">
										<p>Get Android app</p>
									</div>
								</div>
							</a>
						</div>
						<figure class="apps__qr">
							<img src="images/qr-tripoli.png" alt="">
						</figure>
					</div>
					<div class="apps__item">
						<figure class='apps__img apps__img--libya'>
						</figure>
						<div class="apps__content bgr-white p">
							<a href="javascript:;" class="[ btn btn--secondary btn--black btn--normal btn--full ] type-uppercase mb-">
								Findout more
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left mb-">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-apple','color-light-black icon--21-26')}}
									</div>
									<div class="flag__body">
										<p>Get iOS app</p>
									</div>
								</div>
							</a>
							<a href="javascript:;" class="[ btn btn--secondary btn--normal btn--full btn--gray ] text-left">
								<div class="flag">
									<div class="flag__img">
										{{icon('icon-android','color-light-black icon--24-28')}}
									</div>
									<div class="flag__body">
										<p>Get Android app</p>
									</div>
								</div>
							</a>
						</div>
						<figure class="apps__qr">
							<img src="images/qr-tripoli.png" alt="">
						</figure>
					</div>
				</div>
			</div>
			<div class="apps-mobile text-center">
				<section class='pb+'>
					<div class="container">
						<figure>
						<img src="images/tripoli-guide-home.png" alt="">
						</figure>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Findout more
						</a>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Get your app
						</a>
					</div>
				</section>
				<section class='bgr-white pv+'>
					<div class="container">
						<figure>
							<img src="images/benghazi-guide-home.png" alt="">
						</figure>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Findout more
						</a>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Get your app
						</a>
					</div>
				</section>
				<section class='pt+'>
					<div class="container">
						<figure>
							<img src="images/libya-guide-home.png" alt="">
						</figure>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Findout more
						</a>
						<a href="javascript:;" class="[ btn btn--secondary btn--black btn--large btn--152 ] m--">
							Get your app
						</a>
					</div>
				</section>
			</div>
		</section>
		<section class='bgr-gray pv+ none-small'>
			<div class="container container--tiny">
				<div class="qr">
					<div class="justifize">
					  <div class="justifize__box">
					    <div class="qr__item text-center">
					    	<figure class='mb-'>
								{{icon('icon-qr-tripoli','icon--82-82 color-text')}}
					    	</figure>
					    	<p>
					    		Tripoly Guide
					    	</p>
					    </div>
					  </div>
					  <div class="justifize__box">
					    <div class="qr__item text-center">
					    	<figure class='mb-'>
								{{icon('icon-qr-benghazi','icon--82-82 color-text')}}
					    	</figure>
					    	<p>
					    		Benghazi Guide
					    	</p>
					    </div>
					  </div>
					  <div class="justifize__box">
					    <div class="qr__item text-center">
					    	<figure class='mb-'>
								{{icon('icon-qr-benghazi','icon--82-82 color-text')}}
					    	</figure>
					    	<p>
					    		Libya Guide
					    	</p>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</section>
	</main>

	{% include "_partials/partial.footer.html" %}



{% endblock %}

