{% extends "./_templates/template.default.html" %}

{% block content %}
<!-- {% set map = true %} -->

	{% include "_partials/partial.contact.html" %}
	{% include "_partials/partial.header.html" %}

	<main class='no-slider'>
		<section class='full-screen bgr-libya cover'>
			<div class="full__content u-large-and-up-pv0 pt++">
				<div class="tableize tableize--middle tableize--full">
				  <div class="tableize__cell">
				    <div class="">
						<div class="container container--huge">
							<div class="flag flag--responsive flag--large text-center text-left-large-and-up">
								<div class="flag__body">
									<h1 class="color-white type-super-huge type-bold lh-1 u-mb+-large-and-up mb">
										Libya guide
									</h1>
									<p class="color-white type-huge u-mb+-large-and-up mb">
										Offline &amp; Free Guide. Expert Tripoli &amp; nearby cities guide with thousands of places
										to visit, customised trip itineraries created automatically, easy to use offline maps
										&amp; navigation, augmented reality and trip sharing!
									</p>
									<a href="javascript:;" class="btn btn--primary btn--dark btn--large btn--fixed u-large-and-up-mr m- text-center none-small">
										{{icon('icon-apple','icon--21-26 color-white mr-')}}
										Get iOS app
									</a>
									<a href="javascript:;" class="btn btn--primary btn--dark btn--large btn--fixed  m- text-center none-small">
										{{icon('icon-android','icon--24-28 color-white mr-')}}
										Get Android app
									</a>
									<a href="javascript:;" class="btn btn--primary btn--dark btn--large btn--fixed  mb text-center none-medium-and-up">
										Download Now
									</a>
								</div>
								<div class="flag__img text-center u-large-and-up-pr0 u-large-and-up-pl++">
									<img src="images/libya-guide-home.png" alt="" class="img-adjustment">
								</div>
							</div>
						</div>
				    </div>
				  </div>
				</div>
			</div>
		</section>
		<section class='u-large-and-up-pv++ pv+'>
			<div class="container container--huge">
				<h1 class="text-center mb+ u-mb++-large-and-up">
					All Libya Guide Features
				</h1>
				<div class="features">
					<div class="layout">

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fdownload','color-orange icon--50-63')}}
								</div>
								<p>
									Free download &amp; <br> Free update.
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fmon','color-orange icon--62-48')}}
								</div>
								<p>
									Tripoli guide will follow you wherever you go...
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-travel','color-orange icon--57-56')}}
								</div>
								<p>
									Tripoli guide will follow you wherever you go...
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-faround','color-orange icon--64-62')}}
								</div>
								<p>
									Around me feature helps you discover places near your...
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fperson','color-orange icon--52-62')}}
								</div>
								<p>
									Intelligent trip itineraries automatically personalised.
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fshare','color-orange icon--50-68')}}
								</div>
								<p>
									Offline map &amp; location-based navigation GPS to help you...
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fgps','color-orange icon--62-59')}}
								</div>
								<p>
									Offline map &amp; location-based navigation GPS to help you...
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fupdate','color-orange icon--62-62')}}
								</div>
								<p>
									Content updated daily <br> for free
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-ffind','color-orange icon--62-62')}}
								</div>
								<p>
									Find important contacts places &amp; more.
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="layout__item medium-1/2 large-and-up-1/3 extralarge-and-up-1/5">
							<div class="features__item features__item--orange">
								<div class="feature__icon mb">
									{{icon('icon-fpin','color-orange icon--42-62')}}
								</div>
								<p>
									Add your business, place at anytime.
								</p>
								<div class="feature__content p">
									<div class="tableize tableize--full tableize--middle">
									  <div class="tableize__cell">
									    <div>
									      <p class="color-white">
									      	Travel guide with top attractions, shopping, accommodations, restaurants, Business, Services, Health and events. Includes ratings, reviews and daily updates.
									      </p>
									    </div>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class='bgr-gray u-medium-and-up-pt++ u-large-and-up-pb0 pv+ o-hidden'>
			<div class="container container--huge">
				<h1 class=" u-mb---medium-and-up mb++ text-center">
					Screenshots
				</h1>
				<div class="slider slider--screenshot">
					<div class="screenshot__item">
						<img src="images/libya_screen_1.png" alt="">
					</div>
					<div class="screenshot__item">
						<img src="images/libya_screen_2.png" alt="">
					</div>
					<div class="screenshot__item">
						<img src="images/libya_screen_3.png" alt="">
					</div>
					<div class="screenshot__item">
						<img src="images/libya_screen_4.png" alt="">
					</div>
					<div class="screenshot__item">
						<img src="images/libya_screen_5.png" alt="">
					</div>
				</div>
			</div>
		</section>
		<section class='u-large-and-up-pt++ pt+ pb0 u-large-and-up-pb'>
			<div class="container text-center">
				<h1 class="mb+ none-small">
					Download Now
				</h1>
				<figure class='mb+ none-small'>
					{{icon('icon-qr-tripoli','icon--82-82 color-text')}}
				</figure>

				<a href="javascript:;" class="btn btn--primary btn--light btn--large m- p0 btn--fixed none-small">
					{{icon('icon-apple','icon--21-26 color-text mr-')}}
					Get iOS app
				</a>

				<a href="javascript:;" class="btn btn--primary btn--light btn--large m- p0 btn--fixed none-small">
					{{icon('icon-android','icon--24-28 color-text mr-')}}
					Get Android app
				</a>

				<a href="javascript:;" class="btn btn--primary btn--light btn--large none-medium-and-up">
					Get Your app
				</a>
			</div>
		</section>
	</main>

	{% include "_partials/partial.footer.html" %}



{% endblock %}

