{% extends "./_templates/template.default.html" %}

{% set bgr = 'orange' %}
{% set noslider = true %}
{% set footerGray = true %}
{% set headerSmall = true %}

{% block content %}

	{% include "_partials/partial.contact.html" %}
	{% include "_partials/partial.header.html" %}

	<main class='no-slider'>
		<div class="container pv85 u-small-pv">
			<h1 class="mb">
				Privacy Policy
			</h1>
			<p class="mb">
				This Privacy Policy governs the manner in which Guide.ly collects, uses, maintains and discloses information collected from users (each, a “User”) of the Guide.ly website (“Site”). This privacy policy applies to the Site and all products and services offered by Guide.ly.
			</p>
			<h2 class="mb">
				Personal identification information
			</h2>
			<p class="mb">
				We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site.. Users may visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
			</p>
			<h2 class="mb">
				Non-personal identification information
			</h2>
			<p class="mb">
				We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
			</p>
			<h2 class="mb">
				Web browser cookies
			</h2>
			<p class="mb">
				Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
			</p>
			<h2 class="mb">
				How we use collected information
			</h2>
			<p class="mb">
				Guide.ly may collect and use Users personal information for the following purposes:
			</p>
			<ul class="list list--default list-bare mb">
				<li>
					<span class='color-title'>To improve customer service</span> <br>
					Information you provide helps us respond to your customer service requests and support needs more efficiently.
				</li>
				<li>
					<span class='color-title'>To send periodic emails</span> <br>
					We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests.
				</li>
			</ul>
			<h2 class="mb">
				How we protect your information
			</h2>
			<p class="mb">
				We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site. Sharing your personal information.
			</p>
			<p class="mb">
				We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.
			</p>
			<h2 class="mb">
				Changes to this privacy policy
			</h2>
			<p class="mb">
				Guide.ly has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
			</p>
			<h2 class="mb">
				Your acceptance of these terms
			</h2>
			<p class="mb u-mb++-large-and-up">
				By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
			</p>
			<h1 class="mb text-center">
				Contact us
			</h1>
			<p class="text-center mb">
				If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
			</p>
			<p class="text-center mb-">
				{{icon('icon-pin','color-orange icon--22-22 mr--')}}
				Bab Ben Ghashir, 82510, Tripoli Libya
			</p>
			<div class="layout">
				<div class="layout__item large-and-up-1/2">
					<p class="text-center text-right-large-and-up">
						{{icon('icon-phone','color-orange icon--18-18 mr--')}}
						+218 21 3631322
					</p>
				</div>
				<div class="layout__item large-and-up-1/2">
					<p class="text-center text-left-large-and-up">
						{{icon('icon-envelope','color-orange icon--18-14 mr--')}}
						<a href="mailto:contact@guide.ly" class="color-text">contact@guide.ly</a>
					</p>
				</div>
			</div>
		</div>
	</main>

	{% include "_partials/partial.footer.html" %}

{% endblock %}
