{% extends "./_templates/template.default.html" %}

{% set bgr = 'orange' %}
{% block content %}
  <link rel="stylesheet" href="css/styleguide.css">

  {% include "_partials/partial.header.html" %}
  <div class="styleguide-container pv+ ph">
    <h1 class="mb">Tripoli Guide</h1>

    <div class="styleguide-block">
      <h2 id="logo" class="mb"><a href="#logo">{{icon('icon-logo','icon--120-18 color-orange')}}</a></h2>
    </div>
  </div>


  <div class="styleguide-container ph">
  <div class="styleguide-block">
  	<h1 class="mb-">
  		Heading1
  	</h1>
  	<p class="mb">
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laudantium animi obcaecati sunt aut enim nulla dicta, asperiores doloribus repudiandae doloremque deserunt facilis, quis excepturi debitis vel maxime reprehenderit! Accusamus!
  	</p>
  	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptas voluptates, accusamus porro iste ducimus, fugit perspiciatis natus enim, ipsa, perferendis incidunt possimus accusantium recusandae mollitia doloribus quia consectetur blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus recusandae obcaecati molestias tempore cupiditate earum, quidem doloremque inventore nostrum, quia laudantium mollitia nam in esse ipsum enim, aut quibusdam. Obcaecati.
  	</p>
  </div>

  <div class="styleguide-block ">
   	<h2 class="mb-">
   		Heading2
   	</h2>
   	<p>
   		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatem sequi, incidunt molestiae placeat voluptate facere tempora nam, explicabo vitae magni illo fuga enim commodi velit earum repellendus possimus sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae, atque corporis nisi sapiente tempore similique, veniam deserunt, ad nulla vitae commodi quos molestiae eius vel! Veniam libero, eius rem.
   	</p>
   </div>

   <div class="styleguide-block">
   	<h3 class="mb- type-uppercase">
   		Heading3
   	</h3>
   	<p>
   		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatem sequi, incidunt molestiae placeat voluptate facere tempora nam, explicabo vitae magni illo fuga enim commodi velit earum repellendus possimus sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae, atque corporis nisi sapiente tempore similique, veniam deserunt, ad nulla vitae commodi quos molestiae eius vel! Veniam libero, eius rem.
   	</p>
   </div>

   <div class="styleguide-block">
   		<h4 class="mb-">
   			Heading 4 - Two columns
   		</h4>
   		<div class="layout">
   			<div class="layout__item large-and-up-1/2">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum omnis dolores blanditiis expedita est nostrum vero corrupti dignissimos autem, aspernatur optio harum nesciunt quis soluta pariatur esse iusto id, saepe!
				</p>
   			</div>
   			<div class="layout__item large-and-up-1/2">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta odit delectus, aperiam facere eum quod, maxime assumenda repellendus unde, labore, nesciunt quos quae nihil! Officiis eius, maxime eligendi illo facilis!
				</p>
   			</div>
   		</div>
   </div>

   <div class="styleguide-block">
	   <h1 class="mb-">List</h1>
	   <p class="mb">
	   	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ullam dolor consequuntur a pariatur cumque, dignissimos, vero consequatur in eveniet veniam veritatis temporibus aspernatur, quaerat quam quo sit dolorem esse!
	   </p>

     {{ul('')}}

   </div>

   <div class="styleguide-block">
     <h1 class="mb-">List Numbering</h1>
     <p class="mb">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ullam dolor consequuntur a pariatur cumque, dignissimos, vero consequatur in eveniet veniam veritatis temporibus aspernatur, quaerat quam quo sit dolorem esse!
     </p>

     {{ol('')}}

   </div>

   <div class="styleguide-block">
    <h1 class="mb">
      Table
    </h1>
    {{table('')}}
   </div>

   <div class="styleguide-block">
     <h1 class="mb">
       Buttons &amp; hovers
     </h1>
     <div class="layout">
       <div class="layout__item large-and-up-1/3 p+ bgr-dark-gray">
         <a href="javascript:;" class="btn btn--primary btn--dark btn--large">
           اكتشف المزيد
         </a>
       </div>
       <div class="layout__item large-and-up-1/3 p+">
         <a href="javascript:;" class="btn btn--primary btn--light btn--large">
           Findout more
         </a>
       </div>
       <div class="layout__item large-and-up-1/3 p+">
         <a href="javascript:;" class=" [ btn btn--primary btn--normal btn--orange ] type-uppercase">
           send message
         </a>
       </div>
     </div>
   </div>

   <div class="styleguide-block">
     <div class="layout">
       <div class="layout__item large-and-up-1/2">
         <h1 class="mb">
           Input fields
         </h1>
         <input type="text" class="input input--primary" placeholder="Explanation text">
       </div>
       <div class="layout__item large-and-up-1/2">
         <h1 class="mb">
           Drop down
         </h1>
         <select class="select" name="" id=""  data-placeholder="Choose option">
           <option value=""> option1</option>
           <option value=""> option2</option>
           <option value=""> option3</option>
           <option value=""> option4</option>
           <option value=""> option5</option>
         </select>
       </div>
     </div>
   </div>

   <div class="styleguide-block m0">
    <h1 class="mb">
      Radiobutons &amp; Checkboxes
    </h1>
    <div class="layout">
      <div class="layout__item large-and-up-1/3">
        <div class="checkbox_wrap">
         <input class="styled-checkbox" type="checkbox" id="chk1" name="chk" value="1" />
         <label for="chk1"><span><b></b></span>تذكرني</label>
        </div>
        <div class="checkbox_wrap">
         <input class="styled-checkbox" type="checkbox" id="chk2" name="chk" value="1" />
         <label for="chk2"><span><b></b></span>Remember me</label>
        </div>
        <div class="checkbox_wrap">
         <input class="styled-checkbox" type="checkbox" id="chk3" name="chk" value="1" />
         <label for="chk3"><span><b></b></span>Remember me</label>
        </div>
      </div>

      <div class="layout__item large-and-up-1/3">
        <div class="radio_wrap">
          <input type="radio" id="r3" name="rr" class="styled-radiobutton"/>
          <label for="r3" class='radio'>
            <span></span>تذكرني
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r1" name="rr" class="styled-radiobutton"/>
          <label for="r1" class='radio'>
            <span></span>تذكرني
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r2" name="rr" class="styled-radiobutton"/>
          <label for="r2" class='radio'>
            <span></span>Remember me
          </label>
        </div>

      </div>
    </div>
   </div>
  </div>

  {% include "_partials/partial.footer.html" %}

{% endblock %}
