/* --------------------------------------------------------------------------------------
+
+ BUTTONS
+
-------------------------------------------------------------------------------------- */

//DEFAULT BUTTON STYLE
.#{$starterized-namespace}btn,
%#{$starterized-namespace}btn {
    @include transition(all .2s ease);
    @include starterized-unselectable;
    background: none !important;
    border: none !important;
    display: inline-block !important;
    line-height: normal !important;
    margin: 0 !important;                   /* remove margin for some browsers */
    padding: 0 !important;                  /* remove padding in Firefox */
    text-decoration: none !important;
    text-shadow: none !important;
    vertical-align: middle !important;
    white-space: nowrap !important;

    &:hover {
        cursor: pointer !important;
        text-decoration: none !important;
    }
}

//BUTTON FULL
.#{$starterized-namespace}btn--full,
%#{$starterized-namespace}btn--full {
    @include box-sizing(border-box);
    display: block !important;
    width: 100% !important;             /* force 100% width for <button> */
}
