/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: $base-font-family;

    @include max-screen(1024px) {
	    font-size: (15px / 16px) * 1em; /* [1] */
    }
}
