	{% if map %}
		<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
	{% endif %}
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/svg4everybody/svg4everybody.min.js"></script>
    <script src="../bower_components/SelectOrDie/_src/selectordie.min.js"></script>
    <script src="../bower_components/bxslider-4/dist/jquery.bxslider.min.js"></script>
    <script src="../bower_components/owl-carousel2/dist/owl.carousel.min.js"></script>
    <script src="../bower_components/hc-sticky/jquery.hc-sticky.min.js"></script>
    <!-- <script src="../bower_components/ScrollToFixed/jquery-scrolltofixed-min.js"></script> -->

    <script src="js/init.min.js"></script>
  </body>
</html>

