/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 18px;
    vertical-align: middle;
    width: 16px;
}

.icon--120-18 {
    width: 120px;
    height: 18px;
}

.icon--20-18 {
	width: 20px;
	height: 18px;
}

.icon--13-16 {
	width: 13px;
	height: 16px;
}

.icon--17-14 {
    width: 17px;
    height: 14px;
}

.icon--10-18 {
    width: 10px;
    height: 18px;
}

.icon--20-20 {
    width: 20px;
    height: 20px;
}

.icon--22-22 {
    width: 22px;
    height: 22px;
}

.icon--49-49 {
    width: 49px;
    height: 49px;
}

.icon--32-32 {
    width: 32px;
    height: 32px;
}

.icon--16-16 {
    width: 16px;
    height: 16px;
}

.icon--18-18 {
    width: 18px;
    height: 18px;
}

.icon--18-14 {
    width: 18px;
    height: 14px;
}

.icon--43-24 {
    width: 43px;
    height: 24px;
}

.icon--20-12 {
    width: 20px;
    height: 12px;
}

.icon--16-20 {
    width: 16px;
    height: 20px;
}

.icon--30-10 {
    width: 30px;
    height: 10px;
}

.icon--41-28 {
    width: 41px;
    height: 28px;
}

.icon--21-26 {
    width: 21px;
    height: 26px;
}

.icon--24-28 {
    width: 24px;
    height: 28px;
}

.icon--25-25 {
    width: 25px;
    height: 25px;
}

.icon--82-82 {
    width: 82px;
    height: 82px;
}

.icon--50-63 {
    width: 50px;
    height: 63px;
}

.icon--62-48 {
    width: 62px;
    height: 48px;
}

.icon--50-68 {
    width: 50px;
    height: 68px;
}

.icon--62-59 {
    width: 62px;
    height: 59px;
}

.icon--64-62 {
    width: 64px;
    height: 62px;
}

.icon--52-62 {
    width: 52px;
    height: 62px;
}

.icon--62-62 {
    width: 62px;
    height: 62px;
}

.icon--42-62 {
    width: 62px;
    height: 62px;
}

.icon--29-16 {
    width: 29px;
    height: 16px;
}


.icon--57-56 {
    width: 57px;
    height: 56px;
}




































