/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container {
    margin: 0 auto;
    max-width: $page-max-width + ((20px) * 2);
    padding-left:  20px;
    padding-right: 20px;

}

.container--huge {
    max-width: 1580px + ((20px) * 2);
}

.container--xhuge {
    max-width: 1780px + ((20px) * 2);
}

.container--tiny {
    max-width: 460px + ((20px) * 2);
}

.container--small {
    max-width: 500px + ((20px) * 2);
}

.container--medium {
    max-width: 910px + ((20px) * 2);
}

.container--normal {
    max-width: 780px + ((20px) * 2);
}