/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/

//Default colors
$color-red:                                     #f0625d;
$color-green:                                   #0ab2b2;
$color-orange:                                  #fcb34c;
$color-dark-orange:                             #d89940;
$color-light-gray:                              #f5f1ed;
$color-medium-light-gray:                       #e5e0da;
$color-gray:                                    #dad8d6;
$color-dark-gray:                               #3b4041;
$color-brown:                                   #998c85;
$color-light-black:                             #3f4243;

// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             rgba(#dddcdc, .5);
$base-border-radius:                            2px;
$base-font-family:                              'Questrial', sans-serif;
$title-font-family:                             'Montserrat', sans-serif;
$kufi-family:                                   'Droid Arabic Kufi', serif;
$base-font-size:                                17px;
$base-line-height:                              25px;
$base-link-color:                               #537de8;
$base-selection-background-color:               rgba(#329bdd, .7);
$base-selection-text-color:                     #fff;
$base-text-color:                               #908780;
$base-title-color:                              #3b4041;
$second-title-color:                            #ccc;


// Layout
$spacing-unit:                                  $base-line-height;
$spacing-unit--small:                           round($spacing-unit / 2);
$page-max-width:                                1040px;


// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              769px;
$breakpoint-extralarge:                         1025px;


// Inuit breakpoints
$breakpoints: (
	"small"           "screen and (max-width: #{$breakpoint-medium})",
    "medium"           "screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})",
    "medium-and-up"    "screen and (min-width: #{$breakpoint-medium})",
    "large"           "screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})",
    "large-and-up"    "screen and (min-width: #{$breakpoint-large})",
    "extralarge-and-up"    "screen and (min-width: #{$breakpoint-extralarge})",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

