/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: 'Droid Arabic Naskh', serif;
	direction: rtl;
	unicode-bidi: bidi-override;

    @include max-screen(1024px) {
	    font-size: (15px / 16px) * 1em; /* [1] */
    }
}

