/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Droid Arabic Naskh', serif;
	color: $base-title-color;
	font-weight: 400;

    > a {
        color: inherit;
    }
}

h1,
.h1 {
	@include font-size(36px);
}

h2,
.h2 {
	@include font-size(24px);
}

h3,
.h3 {
	@include font-size(16px);
}

h4,
.h4 {
	@include font-size(16px);
}