/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-enable-responsive-margins:                   false !default;
$inuit-enable-responsive-margins--tiny:             false !default;
$inuit-enable-responsive-margins--small:            false !default;
$inuit-enable-responsive-margins--large:            false !default;
$inuit-enable-responsive-margins--huge:             false !default;

$inuit-enable-responsive-margins--negative:         false !default;
$inuit-enable-responsive-margins--negative-tiny:    false !default;
$inuit-enable-responsive-margins--negative-small:   false !default;
$inuit-enable-responsive-margins--negative-large:   false !default;
$inuit-enable-responsive-margins--negative-huge:    false !default;

$inuit-enable-responsive-margins--none:             false !default;

$inuit-enable-responsive-paddings:                  false !default;
$inuit-enable-responsive-paddings--tiny:            false !default;
$inuit-enable-responsive-paddings--small:           false !default;
$inuit-enable-responsive-paddings--large:           false !default;
$inuit-enable-responsive-paddings--huge:            false !default;

$inuit-enable-responsive-paddings--none:            false !default;





// Internally used mixin to quickly generate our different variants based upon
// the breakpoints defined in `settings.responsive`.

@mixin inuit-generate-spacing() {

    // Loop through our previously-defined breakpoints.
    @each $breakpoint in $breakpoints {

        $inuit-generate-spacing-alias:      nth($breakpoint, 1) !global;
        $inuit-generate-spacing-condition:  nth($breakpoint, 2);

        // This isn’t ideal, but we definitely don’t want to generate widths
        // for retina devices. Exclude retina media-qeuries manually.
        @if ($inuit-generate-spacing-alias != "retina") {

            @include media-query($inuit-generate-spacing-alias) {
                @content;
            } // Close media query.

        } // Close retina check.

        // Take the global variable back out of scope.
        $inuit-generate-spacing-alias: null !global;

    } // Close breakpoints loop.

}





@if ($inuit-enable-responsive-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m-#{$inuit-generate-spacing-alias}     	{ margin:           $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-mt-#{$inuit-generate-spacing-alias}    	{ margin-top:       $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-mr-#{$inuit-generate-spacing-alias}    	{ margin-left:     $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-mb-#{$inuit-generate-spacing-alias}    	{ margin-bottom:    $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-ml-#{$inuit-generate-spacing-alias}    	{ margin-right:      $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-mh-#{$inuit-generate-spacing-alias}    	{ margin-right:     $inuit-margin !important; margin-left:      $inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-mv-#{$inuit-generate-spacing-alias}    	{ margin-top:       $inuit-margin !important; margin-bottom:    $inuit-margin !important; }

    }

}


@if ($inuit-enable-responsive-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m---#{$inuit-generate-spacing-alias}    	{ margin:           $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-mt---#{$inuit-generate-spacing-alias}   	{ margin-top:       $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-mr---#{$inuit-generate-spacing-alias}   	{ margin-left:     $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-mb---#{$inuit-generate-spacing-alias}   	{ margin-bottom:    $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-ml---#{$inuit-generate-spacing-alias}   	{ margin-right:      $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-mh---#{$inuit-generate-spacing-alias}   	{ margin-right:     $inuit-margin--tiny !important; margin-left:     $inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-mv---#{$inuit-generate-spacing-alias}   	{ margin-top:       $inuit-margin--tiny !important; margin-bottom:   $inuit-margin--tiny !important; }

    }

}


@if ($inuit-enable-responsive-margins--small == true) {

    /**
     * Add small margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m--#{$inuit-generate-spacing-alias}     	{ margin:           $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-mt--#{$inuit-generate-spacing-alias}    	{ margin-top:       $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-mr--#{$inuit-generate-spacing-alias}    	{ margin-left:     $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-mb--#{$inuit-generate-spacing-alias}    	{ margin-bottom:    $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-ml--#{$inuit-generate-spacing-alias}    	{ margin-right:      $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-mh--#{$inuit-generate-spacing-alias}    	{ margin-right:     $inuit-margin--small !important; margin-left:   $inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-mv--#{$inuit-generate-spacing-alias}    	{ margin-top:       $inuit-margin--small !important; margin-bottom: $inuit-margin--small !important; }

    }

}


@if ($inuit-enable-responsive-margins--large == true) {

    /**
     * Add large margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m\+-#{$inuit-generate-spacing-alias}    	{ margin:           $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-mt\+-#{$inuit-generate-spacing-alias}   	{ margin-top:       $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-mr\+-#{$inuit-generate-spacing-alias}   	{ margin-left:     $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-mb\+-#{$inuit-generate-spacing-alias}   	{ margin-bottom:    $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-ml\+-#{$inuit-generate-spacing-alias}   	{ margin-right:      $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-mh\+-#{$inuit-generate-spacing-alias}   	{ margin-right:     $inuit-margin--large !important; margin-left:      $inuit-margin--large !important; }
        .#{$inuit-spacing-namespace}u-mv\+-#{$inuit-generate-spacing-alias}   	{ margin-top:       $inuit-margin--large !important; margin-bottom:    $inuit-margin--large !important; }

    }

}


@if ($inuit-enable-responsive-margins--huge == true) {

    /**
     * Add huge margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m\+\+-#{$inuit-generate-spacing-alias}  	{ margin:           $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-mt\+\+-#{$inuit-generate-spacing-alias} 	{ margin-top:       $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-mr\+\+-#{$inuit-generate-spacing-alias} 	{ margin-left:     $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-mb\+\+-#{$inuit-generate-spacing-alias} 	{ margin-bottom:    $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-ml\+\+-#{$inuit-generate-spacing-alias} 	{ margin-right:      $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-mh\+\+-#{$inuit-generate-spacing-alias} 	{ margin-right:     $inuit-margin--huge !important; margin-left:   $inuit-margin--huge !important; }
        .#{$inuit-spacing-namespace}u-mv\+\+-#{$inuit-generate-spacing-alias} 	{ margin-top:       $inuit-margin--huge !important; margin-bottom: $inuit-margin--huge !important; }

    }

}


@if ($inuit-enable-responsive-margins--none == true) {

    /**
     * Remove margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-m0      	{ margin:           0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-mt0     	{ margin-top:       0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-mr0     	{ margin-left:     0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-mb0     	{ margin-bottom:    0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ml0     	{ margin-right:      0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-mh0     	{ margin-right:     0 !important; margin-left:      0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-mv0     	{ margin-top:       0 !important; margin-bottom:    0 !important; }

    }

}


@if ($inuit-enable-responsive-margins--negative == true) {

    /**
     * Negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--m      	{ margin:           -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mt     	{ margin-top:       -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mr     	{ margin-left:     -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mb     	{ margin-bottom:    -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--ml     	{ margin-right:      -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mh     	{ margin-right:     -$inuit-margin !important; margin-left:      -$inuit-margin !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mv     	{ margin-top:       -$inuit-margin !important; margin-bottom:    -$inuit-margin !important; }

    }

}


@if ($inuit-enable-responsive-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--m--    	{ margin:           -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mt--   	{ margin-top:       -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mr--   	{ margin-right:     -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mb--   	{ margin-bottom:    -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--ml--   	{ margin-left:      -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mh--   	{ margin-right:     -$inuit-margin--tiny !important; margin-left:     -$inuit-margin--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mv--   	{ margin-top:       -$inuit-margin--tiny !important; margin-bottom:   -$inuit-margin--tiny !important; }

    }

}


@if ($inuit-enable-responsive-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--m-     	{ margin:           -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mt-    	{ margin-top:       -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mr-    	{ margin-right:     -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mb-    	{ margin-bottom:    -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--ml-    	{ margin-left:      -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mh-    	{ margin-right:     -$inuit-margin--small !important; margin-left:   -$inuit-margin--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mv-    	{ margin-top:       -$inuit-margin--small !important; margin-bottom: -$inuit-margin--small !important; }

    }

}


@if ($inuit-enable-responsive-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--m\+    	{ margin:           double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mt\+   	{ margin-top:       double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mr\+   	{ margin-right:     double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mb\+   	{ margin-bottom:    double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--ml\+   	{ margin-left:      double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mh\+   	{ margin-right:     double(-$inuit-margin) !important; margin-left:      double(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mv\+    { margin-top:       double(-$inuit-margin) !important; margin-bottom:    double(-$inuit-margin) !important; }

    }

}


@if ($inuit-enable-responsive-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--m\+\+  	{ margin:           quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mt\+\+ 	{ margin-top:       quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mr\+\+ 	{ margin-right:     quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mb\+\+ 	{ margin-bottom:    quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--ml\+\+ 	{ margin-left:      quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mh\+\+ 	{ margin-right:     quadruple(-$inuit-margin) !important; margin-left:   quadruple(-$inuit-margin) !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}--mv\+\+ 	{ margin-top:       quadruple(-$inuit-margin) !important; margin-bottom: quadruple(-$inuit-margin) !important; }

    }

}





@if ($inuit-enable-responsive-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p       { padding:          $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt      { padding-top:      $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr      { padding-left:    $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb      { padding-bottom:   $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl      { padding-right:     $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph      { padding-right:    $inuit-padding !important; padding-left:    $inuit-padding !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv      { padding-top:      $inuit-padding !important; padding-bottom:  $inuit-padding !important; }

    }

}


@if ($inuit-enable-responsive-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p--     { padding:           $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt--    { padding-top:       $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr--    { padding-left:     $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb--    { padding-bottom:    $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl--    { padding-right:      $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph--    { padding-right:     $inuit-padding--tiny !important; padding-left:      $inuit-padding--tiny !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv--    { padding-top:       $inuit-padding--tiny !important; padding-bottom:    $inuit-padding--tiny !important; }

    }

}


@if ($inuit-enable-responsive-paddings--small == true) {

    /**
     * Add small paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p-      { padding:           $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt-     { padding-top:       $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr-     { padding-left:     $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb-     { padding-bottom:    $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl-     { padding-right:      $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph-     { padding-right:     $inuit-padding--small !important; padding-left:    $inuit-padding--small !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv-     { padding-top:       $inuit-padding--small !important; padding-bottom:  $inuit-padding--small !important; }

    }

}


@if ($inuit-enable-responsive-paddings--large == true) {

    /**
     * Add large paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p\+     { padding:           $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt\+    { padding-top:       $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr\+    { padding-left:     $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb\+    { padding-bottom:    $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl\+    { padding-right:      $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph\+    { padding-right:     $inuit-padding--large !important; padding-left:   $inuit-padding--large !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv\+    { padding-top:       $inuit-padding--large !important; padding-bottom: $inuit-padding--large !important; }

    }

}


@if ($inuit-enable-responsive-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p\+\+   { padding:           $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt\+\+  { padding-top:       $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr\+\+  { padding-left:     $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb\+\+  { padding-bottom:    $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl\+\+  { padding-right:      $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph\+\+  { padding-right:     $inuit-padding--huge !important; padding-left:    $inuit-padding--huge !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv\+\+  { padding-top:       $inuit-padding--huge !important; padding-bottom:  $inuit-padding--huge !important; }

    }

}


@if ($inuit-enable-responsive-paddings--none == true) {

    /**
     * Remove paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-p0      { padding:          0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pt0     { padding-top:      0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pr0     { padding-left:    0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pb0     { padding-bottom:   0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pl0     { padding-right:     0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-ph0     { padding-right:    0 !important; padding-left:     0 !important; }
        .#{$inuit-spacing-namespace}u-#{$inuit-generate-spacing-alias}-pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

    }

}
