/*------------------------------------*\
    #Helpers
\*------------------------------------*/

/*
 * Helper classes for custom paddings
 */

 .pv85 {
    padding-top: 85px;
    padding-bottom: 85px;
 }

 /*
 * Helper classes for custom line heights
 */

 .lh-14 {
    line-height: 1.4 !important;
 }

 .lh-1 {
    line-height: 1 !important;
 }

 .relative {
    position: relative !important;
 }

.img-adjustment {
	width: 483px;
	display: inline-block !important;
	max-height: 100%;
	@include translateY(40px);

	@include max-screen(#{$breakpoint-medium}){
		width: 100%;
		@include translateY(0px);
	}

	@media screen and (max-height: 980px) and (orientation: landscape){
		@include 			scale(.7);
	}
}

.o-hidden {
	overflow: hidden;
}