/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * TYPE SIZES
 */
.type-extra-tiny,
%type-tiny {
    font-size: 8px !important;
}

.type-extra-small,
%type-tiny {
    font-size: 10px !important;
}

.type-tiny,
%type-tiny {
    font-size: 12px !important;
}

.type-small,
%type-small {
    font-size: 14px !important;
}

.type-default,
%type-default {
    font-size: 16px !important;
}

.type-large,
%type-large {
    font-size: 21px !important;
}

.type-huge,
%type-huge {
    font-size: 22px !important;

    @include max-screen(1024px) {
        font-size: 18px !important;
    }

    @include max-screen(769px) {
        font-size: 15px !important;
    }
}

.type-extrahuge,
%type-extrahuge {
    font-size: 24px !important;
}

.type-x-huge,
%type-x-huge {
    font-size: 32px !important;
}

.type-super-huge,
%type-super-huge {
    font-size: 100px !important;

    @include max-screen(1024px) {
        font-size: 60px !important;
    }

    @include max-screen(769px) {
        font-size: 30px !important;
    }
}
