<footer class="footer-main {% if footerGray %} bgr-gray {% endif %}">
	<div class="container container--tiny text-center">
		<div class="footer__copy">
			<p class="type-tiny">
				<a href="../" class="color-brown">Privacy Policy</a> | Copyright © 2015. Guide.ly | Product of LibyanSpider
			</p>
			<p class="type-tiny">
				iPhone is a trademark of Apple Inc. App Store is a service mark of Apple Inc.
			</p>
		</div>
		<a href="javascript:;" class="footer__icon mh--">
			{{icon('icon-tw','color-brown icon--17-14')}}
		</a>
		<a href="javascript:;" class="footer__icon mh--">
			{{icon('icon-face','color-brown icon--10-18')}}
		</a>
		<a href="javascript:;" class="footer__icon mh--">
			{{icon('icon-google','color-brown icon--20-20')}}
		</a>
		<a href="javascript:;" class="footer__icon mh--">
			{{icon('icon-inst','color-brown icon--16-16')}}
		</a>
		<a href="javascript:;" class="footer__icon mh--">
			{{icon('icon-youtube','color-brown icon--20-12')}}
		</a>
	</div>
</footer>
