<section class='contact pv u-large-and-up-pv+ bgr-white'>
	<div class="container">
		<a href="javascript:;" class="contact__close js-close-contact contact__close--bordered none-small">
			{{icon('icon-close', 'icon icon--16-16 color-text')}}
		</a>
		<a href="javascript:;" class="contact__close js-close-contact none-medium-and-up">
			{{icon('icon-arrow-up', 'icon icon--16-20 color-title')}}
		</a>
		<h1 class="mb">
			Contact us
		</h1>
		<form action="javascript:;">
			<div class="layout mb">
				<div class="layout__item large-and-up-1/3">
					<input type="text" class="input input--primary" placeholder='Name'>
				</div>
				<div class="layout__item large-and-up-1/3">
					<input type="email" class="input input--primary" placeholder='Email'>
				</div>
				<div class="layout__item large-and-up-1/3">
					<input type="text" class="input input--primary" placeholder='Subject'>
				</div>
				<div class="layout__item large-and-up-1/1">
					<textarea class="input input--primary input--textarea " placeholder='Message'></textarea>
				</div>
			</div>
			<div class="text-right text-center-small">
				<span class='type-small float-left float-none-small'>
					*All fields are mandatory
				</span>
				<button class=" [ btn btn--primary btn--normal btn--orange ] type-uppercase mt u-medium-and-up-mt0">send message</button>
			</div>
		</form>
	</div>
</section>