<header class="header-main {% if bgr=='orange' %}bgr-dark-gray  relative{% endif %} {% if headerSmall %}header-main--small{% endif %} ">
	<div class="container container--xhuge">
		<a href="javascript:;" class="site-logo">
			{{icon('icon-logo', 'color-white icon--120-18')}}
		</a>
		<nav class='site-nav site-nav--main float-right'>
			<ul class="list-inline">
				<li class="site-nav__item is-active">
					<a href="javascript:;">
						TRIPOLI GUIDE
					</a>
				</li>
				<li class="site-nav__item">
					<a href="javascript:;">
						BengHazi Guide
					</a>
				</li>
				<li class="site-nav__item">
					<a href="javascript:;">
						Libya Guide
					</a>
				</li>
				<li class="site-nav__item">
					<a href="javascript:;">
						Blog
					</a>
				</li>
				<li class="site-nav__item">
					<a href="javascript:;" class="js-contact">
						Contact US
					</a>
				</li>
				<li class="site-nav__item">
					<a href="javascript:;" class="kufi">
						العربية
					</a>
				</li>

				{% if home %}
				<li class="ml map-trigger js-map-trigger">
					<a href="javascript:;" class="color-white">
						<span>SHOW MAP</span>
						<div class="map__triger__icon">
							{{icon('icon-target','color-white icon--25-25 ')}}
						</div>
					</a>
				</li>
				{% endif %}

			</ul>
		</nav>
		<nav class="site-nav site-nav--mobile bgr-white ph-">
			<ul class="list-bare">
				<li class="nav-mobile__item">
					<a href="javascript:;">
						TRIPOLI GUIDE
					</a>
				</li>
				<li class="nav-mobile__item">
					<a href="javascript:;">
						BENGHAZI GUIDE
					</a>
				</li>
				<li class="nav-mobile__item">
					<a href="javascript:;">
						LIBYA GUIDE
					</a>
				</li>
				<li class="nav-mobile__item">
					<a href="javascript:;" class="js-contact">
						Contact Us
					</a>
				</li>
			</ul>
			<div class="layout layout--flush text-center lang pt-">
				<div class="layout__item 1/2">
					<a href="javascript:;" class="lang__link">
						العربية
					</a>
				</div>
				<div class="layout__item 1/2">
					<a href="javascript:;" class="lang__link is-active">
						English
					</a>
				</div>
			</div>
		</nav>
		<a href="javascript:;" class="btn-menu float-right js-menu">
			{{icon('icon-burger','icon--29-16 color-white')}}
		</a>
		<a href="javascript:;" class="btn-menu-close float-right js-close-menu">
			{{icon('icon-arrow-up','icon--16-20 color-title')}}
		</a>
	</div>
</header>
